* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #32302f;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #1d2021;
  color: #d4be98;
  font-weight: bold;
  border: solid 4px #1d2021;
}

.modules-left {
  background-color: #32302f;
}

#window {
  background-color: #32302f;
  border-radius: 2px;
  padding: 0px 12px;
  color: #a89984;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #a89984;
  border: solid 2px #32302f;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #32302f;
  color: #d4be98;
  border: solid 2px #32302f;
  border-bottom: 2px solid #7daea3;
}

#mpris {
  padding: 2px 6px;
  background-color: #7daea3;
  color: #1d2021;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #7daea3;
  color: #1d2021;
  border-radius: 2px;
  padding: 0px 12px;
}
