window {
margin: 0px;
border: 2px solid #504945;
border-radius: 0px;
background-color: #1d2021;
font-family: monospace;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #504945;
border-radius: 25px;
color: #d4be98;
background-color: #504945;
}

#input image {
	color: #504945;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #1d2021;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1d2021;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d4be98;
} 

#entry:selected {
	background-color: #7daea3;
	font-weight: normal;
	border-radius: 0px;
}

#text:selected {
	background-color: #7daea3;
	color: #1d2021;
	font-weight: normal;
}
