* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #1c1c1c;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #121212;
  color: #e0e0e0;
  font-weight: bold;
  border: solid 4px #121212;
}

.modules-left {
  background-color: #1c1c1c;
}

#window {
  background-color: #1c1c1c;
  border-radius: 2px;
  padding: 0px 12px;
  color: #9e9e9e;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #9e9e9e;
  border: solid 2px #1c1c1c;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #1c1c1c;
  color: #e0e0e0;
  border: solid 2px #1c1c1c;
  border-bottom: 2px solid #c6c6c6;
}

#mpris {
  padding: 2px 6px;
  background-color: #c6c6c6;
  color: #121212;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #c6c6c6;
  color: #121212;
  border-radius: 2px;
  padding: 0px 12px;
}
