window {
margin: 0px;
border: 2px solid #8a8a8a;
border-radius: 0px;
background-color: #121212;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #1c1c1c;
border-radius: 25px;
color: #e0e0e0;
background-color: #1c1c1c;
}

#input image {
	color: #1c1c1c;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #121212;
}

#outer-box {
margin: 5px;
border: none;
background-color: #121212;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #e0e0e0;
}

#entry:selected {
	background-color: #383838;
	color: #e0e0e0;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #383838;
	color: #e0e0e0;
	font-weight: bold;
}
