* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #232a2d;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #141b1e;
  color: #dadada;
  font-weight: bold;
  border: solid 4px #141b1e;
}

.modules-left {
  background-color: #232a2d;
}

#window {
  background-color: #232a2d;
  border-radius: 2px;
  padding: 0px 12px;
  color: #b3b9b8;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #b3b9b8;
  border: solid 2px #232a2d;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #232a2d;
  color: #dadada;
  border: solid 2px #232a2d;
  border-bottom: 2px solid #67b0e8;
}

#mpris {
  padding: 2px 6px;
  background-color: #67b0e8;
  color: #141b1e;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #67b0e8;
  color: #141b1e;
  border-radius: 2px;
  padding: 0px 12px;
}
