window {
margin: 0px;
border: 2px solid #67b0e8;
border-radius: 0px;
background-color: #141b1e;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #232a2d;
border-radius: 25px;
color: #dadada;
background-color: #232a2d;
}

#input image {
	color: #232a2d;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #141b1e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #141b1e;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #dadada;
}

#entry:selected {
	background-color: #67b0e8;
	color: #141b1e;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #67b0e8;
	color: #141b1e;
	font-weight: bold;
}
