* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #073642;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #002b36;
  color: #839496;
  font-weight: bold;
  border: solid 4px #002b36;
}

.modules-left {
  background-color: #073642;
}

#window {
  background-color: #073642;
  border-radius: 2px;
  padding: 0px 12px;
  color: #586e75;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #657b83;
  border: solid 2px #073642;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #073642;
  color: #839496;
  border: solid 2px #073642;
  border-bottom: 2px solid #268bd2;
}

#mpris {
  padding: 2px 6px;
  background-color: #268bd2;
  color: #002b36;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #268bd2;
  color: #002b36;
  border-radius: 2px;
  padding: 0px 12px;
}
