window {
margin: 0px;
border: 2px solid #268bd2;
border-radius: 0px;
background-color: #002b36;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #073642;
border-radius: 25px;
color: #839496;
background-color: #073642;
}

#input image {
	color: #073642;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #002b36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #002b36;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #839496;
}

#entry:selected {
	background-color: #268bd2;
	color: #002b36;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #268bd2;
	color: #002b36;
	font-weight: bold;
}
