window {
margin: 0px;
border: 2px solid #7aa2f7;
border-radius: 0px;
background-color: #24283b;
font-family: monospace;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #414868;
border-radius: 25px;
color: #c0caf5;
background-color: #414868;
}

#input image {
	color: #414868;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #24283b;
}

#outer-box {
margin: 5px;
border: none;
background-color: #24283b;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry:selected {
	background-color: #7aa2f7;
	color: #24283b;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #7aa2f7;
	color: #24283b;
	font-weight: bold;
}
