* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #191919;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #0a0a0a;
  color: #deeeed;
  font-weight: bold;
  border: solid 4px #0a0a0a;
}

.modules-left {
  background-color: #191919;
}

#window {
  background-color: #191919;
  border-radius: 2px;
  padding: 0px 12px;
  color: #aabbaa;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #aabbaa;
  border: solid 2px #191919;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #191919;
  color: #deeeed;
  border: solid 2px #191919;
  border-bottom: 2px solid #D70000;
}

#mpris {
  padding: 2px 6px;
  background-color: #D70000;
  color: #deeeed;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #D70000;
  color: #deeeed;
  border-radius: 2px;
  padding: 0px 12px;
}
