window {
  margin: 0px;
  border: 2px solid #666C78;
  background-color: #171614;
  border-radius: 12px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: none;
  color: #AEA09F;
  background-color: #1F1E1C;
  border-radius: 8px;
  padding: 8px 12px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #171614;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #171614;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #AEA09F;
}

#entry:selected {
  background-color: #1F1E1C;
  border-radius: 8px;
}

#text:selected {
  color: #AEA09F;
}
