window {
  margin: 0px;
  border: 2px solid #788CC2;
  background-color: #141517;
  border-radius: 12px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: none;
  color: #C4B6C5;
  background-color: #1C1D1F;
  border-radius: 8px;
  padding: 8px 12px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #141517;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #141517;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #C4B6C5;
}

#entry:selected {
  background-color: #1C1D1F;
  border-radius: 8px;
}

#text:selected {
  color: #C4B6C5;
}
