* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #1a1a2e;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #080808;
  color: #bdbdbd;
  font-weight: bold;
  border: solid 4px #080808;
}

.modules-left {
  background-color: #1a1a2e;
}

#window {
  background-color: #1a1a2e;
  border-radius: 2px;
  padding: 0px 12px;
  color: #9e9e9e;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #9e9e9e;
  border: solid 2px #1a1a2e;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #1a1a2e;
  color: #bdbdbd;
  border: solid 2px #1a1a2e;
  border-bottom: 2px solid #80a0ff;
}

#mpris {
  padding: 2px 6px;
  background-color: #80a0ff;
  color: #080808;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #80a0ff;
  color: #080808;
  border-radius: 2px;
  padding: 0px 12px;
}
