window {
  margin: 0px;
  border: 2px solid #6C81B8;
  background-color: #171719;
  border-radius: 12px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: none;
  color: #A0A0AF;
  background-color: #1F1F21;
  border-radius: 8px;
  padding: 8px 12px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #171719;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #171719;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #A0A0AF;
}

#entry:selected {
  background-color: #1F1F21;
  border-radius: 8px;
}

#text:selected {
  color: #A0A0AF;
}
