* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #121212;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #000000;
  color: #dddddd;
  font-weight: bold;
  border: solid 4px #000000;
}

.modules-left {
  background-color: #121212;
}

#window {
  background-color: #121212;
  border-radius: 2px;
  padding: 0px 12px;
  color: #bbbbbb;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #aaaaaa;
  border: solid 2px #121212;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #1a1a1a;
  color: #ffffff;
  border: solid 2px #1a1a1a;
  border-bottom: 2px solid #ffffff;
}

#mpris {
  padding: 2px 6px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #ffffff;
  color: #000000;
  border-radius: 2px;
  padding: 0px 12px;
}
