window {
margin: 0px;
border: 1px solid #333333;
border-radius: 0px;
background-color: #0a0a0a;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 8px;
border: 1px solid #222222;
border-radius: 0px;
color: #c1c1c1;
background-color: #121212;
padding: 8px 12px;
}

#input image {
	color: #222222;
}

#inner-box {
margin: 4px;
border: none;
padding-left: 8px;
padding-right: 8px;
border-radius: 0px;
background-color: #0a0a0a;
}

#outer-box {
margin: 4px;
border: none;
background-color: #0a0a0a;
border-radius: 0px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 4px;
border: none;
color: #888888;
}

#entry:selected {
	background-color: #1a1a1a;
	color: #c1c1c1;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #1a1a1a;
	color: #c1c1c1;
	font-weight: bold;
}
