window {
margin: 0px;
border: 2px solid #a7c080;
border-radius: 0px;
background-color: #2b3339;
font-family: monospace;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #374145;
border-radius: 25px;
color: #d3c6aa;
background-color: #374145;
}

#input image {
	color: #374145;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #2b3339;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2b3339;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d3c6aa;
} 

#entry:selected {
	background-color: #a7c080;
	color: #2b3339;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #a7c080;
	color: #2b3339;
	font-weight: bold;
}
