window {
margin: 0px;
border: 2px solid #ffffff;
border-radius: 0px;
background-color: #000000;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #111111;
border-radius: 25px;
color: #d4d4d4;
background-color: #111111;
}

#input image {
	color: #111111;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #000000;
}

#outer-box {
margin: 5px;
border: none;
background-color: #000000;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d4d4d4;
}

#entry:selected {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}
