window {
margin: 0px;
border: 2px solid #89b4fa;
border-radius: 0px;
background-color: #010101;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #181825;
border-radius: 25px;
color: #cdd6f4;
background-color: #181825;
}

#input image {
	color: #181825;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #010101;
}

#outer-box {
margin: 5px;
border: none;
background-color: #010101;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cdd6f4;
}

#entry:selected {
	background-color: #89b4fa;
	color: #010101;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #89b4fa;
	color: #010101;
	font-weight: bold;
}
