window {
margin: 0px;
border: 2px solid #79241f;
border-radius: 0px;
background-color: #000000;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #211816;
border-radius: 25px;
color: #c1c1c1;
background-color: #211816;
}

#input image {
	color: #211816;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #000000;
}

#outer-box {
margin: 5px;
border: none;
background-color: #000000;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c1c1c1;
}

#entry:selected {
	background-color: #79241f;
	color: #c1c1c1;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #79241f;
	color: #c1c1c1;
	font-weight: bold;
}
