* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 2px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #002c38;
  margin-left: 4px;
}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #001419;
  color: #9eabac;
  font-weight: bold;
  border: solid 4px #001419;
}

.modules-left {
  background-color: #002c38;
}

#window {
  background-color: #002c38;
  border-radius: 2px;
  padding: 0px 12px;
  color: #576d74;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2px 6px;
  background: none;
  border: none;
  border-radius: 2px;
  color: #637981;
  border: solid 2px #002c38;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #002c38;
  color: #9eabac;
  border: solid 2px #002c38;
  border-bottom: 2px solid #268bd3;
}

#mpris {
  padding: 2px 6px;
  background-color: #268bd3;
  color: #001419;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #268bd3;
  color: #001419;
  border-radius: 2px;
  padding: 0px 12px;
}
