window {
margin: 0px;
border: 2px solid #268bd3;
border-radius: 0px;
background-color: #001419;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #002c38;
border-radius: 25px;
color: #9eabac;
background-color: #002c38;
}

#input image {
	color: #002c38;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #001419;
}

#outer-box {
margin: 5px;
border: none;
background-color: #001419;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #9eabac;
}

#entry:selected {
	background-color: #268bd3;
	color: #001419;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #268bd3;
	color: #001419;
	font-weight: bold;
}
