window {
margin: 0px;
border: 2px solid #e2be8a;
border-radius: 0px;
background-color: #0f0f0f;
font-family: JetBrainsMono Nerd Font;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #1a1a1a;
border-radius: 25px;
color: #eadccc;
background-color: #1a1a1a;
}

#input image {
	color: #1a1a1a;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
background-color: #0f0f0f;
}

#outer-box {
margin: 5px;
border: none;
background-color: #0f0f0f;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #eadccc;
}

#entry:selected {
	background-color: #e2be8a;
	color: #0f0f0f;
	font-weight: bold;
	border-radius: 0px;
}

#text:selected {
	background-color: #e2be8a;
	color: #0f0f0f;
	font-weight: bold;
}
